* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.login-form {
  background-color: #f4f7fc;
  display: flex;
  max-width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(2px) brightness(0.7);
  z-index: 0;
}

.login-form > * {
  position: relative;
  z-index: 1;
}
.form-container h1 {
  text-align: center;
  font-size: 28px;
  color: #1e3a8a;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 30px;
}
.form-container {
  background-color: white;
  padding: 30px 25px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  max-width: 350px;
  margin: 0 auto;
  width: 400px;
}
.form-container:hover {
  box-shadow: 2px 5px 3px 2px;
}
.form-container p {
  margin-bottom: 10px;
  font-weight: bold;
}
.form-container Form {
  display: flex;
  flex-direction: column;
}
form input[type="email"],
form input[type="password"] {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  margin-bottom: 18px;
  font-size: 14px;
  transition: border-color 0.3s;
}
form input[type="email"]:focus,
form input[type="password"]:focus {
  border-color: #2563eb;
  outline: none;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
}

.options a {
  color: #2563eb;
  text-decoration: none;
}

.options a:hover {
  text-decoration: underline;
}

.form-container form button {
  width: 100%;
  padding: 12px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-container form button:hover {
  background-color: #1e40af;
}
