.error_container {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.error_container div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.error_container div img {
  width: 600px;
  height: 400px;
  object-fit: contain;
}
.message {
  margin-top: -100px;
  margin-bottom: 0px;
}
.error_title {
  font-size: 100px;
  margin: 0px;
}
.button {
  background-color: #0ecf7f;
  padding: 20px 30px;
  margin-top: 10px;

  border-radius: 10px;
}
.button a {
  text-decoration: none;
  color: white;
  font-size: larger;
}
.message p {
  width: 400px;
  margin: 2px;
  text-align: center;
}
